<div class="container">
  <div class="row" *ngIf="piano">
    <div class="col-md-7">
      <img src="/assets/{{mainPicUrl}}" class="img-fluid">
      <ng-container *ngFor="let pic of piano.pictures">
        <img src="/assets/{{pic}}"
             class="img-thumbnail"
             [class.selected]="pic === mainPicUrl"
             width="30%"
             (click)="showPicture(pic)">
      </ng-container>
    </div>
    <div class="col-md-5">
      <p class="h4">{{piano.model}}</p>
      <hr>
      <div class="row justify-content-between align-items-end">
        <div class="col-md-4">
          <p class="font-weight-light">Price:</p>
        </div>
        <div class="col-md-8">
          <p class="text-danger h3">{{piano.cost | currency}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-light">For Whom:</p>
        </div>
        <div class="col-md-8">
          <p class="h6">{{piano.level}}</p>
        </div>        
      </div> 
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-light">Dimensions:</p>
        </div>
        <div class="col-md-8">
          <p class="h6">{{piano.dimensions}}</p>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-light">Weight:</p>
        </div>
        <div class="col-md-8">
          <p class="h6">{{piano.weight}}<small> pounds</small></p>
        </div>        
      </div>
      
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-warning btn-lg">Buy Now</button>
          <button type="button" class="btn btn-danger btn-lg" (click)="addToCart(piano)">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
