<div class="container">
  <ng-container *ngFor="let piano of pianos">
    <div class="row">
      <div class="col-md-2">
        <img src="/assets/{{piano.pictures[0]}}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <a routerLink="/piano/{{piano.id}}">{{piano.model}}</a>
        <div class="piano-description">
          {{piano.description | truncate:100:'...':true}}
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          <span class="text-danger">{{piano.cost | currency}}</span>
          <small class="text-muted h6">/ Free Shiping</small>
        </h3>
        <button type="button" class="btn btn-warning btn-lg">Buy Now</button>
        <button *ngIf="!isInsideCart" type="button" class="btn btn-danger btn-lg" (click)="addToCart(piano)">Add To Cart</button>
        <button *ngIf="isInsideCart" type="button" class="btn btn-danger btn-lg" (click)="removeFromCart(piano)">Remove</button>
      </div>
    </div>
    <hr>
  </ng-container> 
</div>
