<nav class="navbar navbar-light bg-light navbar-static-top">
  <div class="container d-flex flex-md-row flex-column">
    <div class="mb-2">
      <a routerLink="/" class="navbar-brand mr-md-auto">Piano Shop</a>
      <button routerLink="/cart" class="btn btn-dark btn-sm"><span class="oi oi-cart">My Cart</span></button>
    </div>
    <form class="navbar-form d-flex justify-content-center">
      <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" #searchStr>
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" (click)="search(searchStr.value)">Search</button>
        </div>
      </div>
    </form>
  </div>
</nav>

<router-outlet (activate)="onActivate($event)"></router-outlet>